@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A4               .sheet { width: 210mm; height: 296mm }
body.A4.landscape     .sheet { width: 297mm; height: 209mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background-image: url("../img/invoice.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.A4.landscape { width: 297mm }
  body.A4 { width: 210mm }
}

input[type=text]{
    border: 0;
    overflow: hidden;
    background: transparent;
    height: 5mm;
    position: absolute;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

#name{
    left: 29mm;
    top: 71mm;
    width: 88mm;
}

#address_1{
    left: 19mm;
    top: 78mm;
    width: 98mm;
}

#address_2{
    left: 19mm;
    top: 85mm;
    width: 98mm;
}

#address_3{
    left: 19mm;
    top: 92mm;
    width: 98mm;
}

#taxOffice{
    left: 26mm;
    top: 101mm;
    width: 40mm;
}

#taxNo{
    left: 76mm;
    top: 101mm;
    width: 41mm;
}

#date{
    left: 165mm;
    top: 71mm;
    width: 40mm;
}

#dispatch{
    left: 165mm;
    top: 77mm;
    width: 40mm;
}

#total{
    left: 168mm;
    top: 270mm;
    width: 30mm;
}

#subTotal{
    left: 168mm;
    top: 254mm;
    width: 30mm;
}

#tax{
    left: 168mm;
    top: 261mm;
    width: 30mm;
}

#totalText1{
    left: 33mm;
    top: 255mm;
    width: 100mm;
}

#totalText2{
    left: 33mm;
    top: 262mm;
    width: 100mm;
}

#totalText3{
    left: 33mm;
    top: 269mm;
    width: 100mm;
}

#product_1{
    left: 21mm;
    top: 123mm;
    width: 90mm;
}

#qty_1{
    left: 114mm;
    top: 123mm;
    width: 15mm;
}

#unit_1{
    left: 131mm;
    top: 123mm;
    width: 10mm;
}

#unit_price_1{
    left: 144mm;
    top: 123mm;
    width: 22mm;
}

#price_1{
    left: 168mm;
    top: 123mm;
    width: 30mm;
}

#product_2{
    left: 21mm;
    top: 130mm;
    width: 90mm;
}

#qty_2{
    left: 114mm;
    top: 130mm;
    width: 15mm;
}

#unit_2{
    left: 131mm;
    top: 130mm;
    width: 10mm;
}

#unit_price_2{
    left: 144mm;
    top: 130mm;
    width: 22mm;
}

#price_2{
    left: 168mm;
    top: 130mm;
    width: 30mm;
}

#product_3{
    left: 21mm;
    top: 137mm;
    width: 90mm;
}

#qty_3{
    left: 114mm;
    top: 137mm;
    width: 15mm;
}

#unit_3{
    left: 131mm;
    top: 137mm;
    width: 10mm;
}

#unit_price_3{
    left: 144mm;
    top: 137mm;
    width: 22mm;
}

#price_3{
    left: 168mm;
    top: 137mm;
    width: 30mm;
}

#product_4{
    left: 21mm;
    top: 144mm;
    width: 90mm;
}

#qty_4{
    left: 114mm;
    top: 144mm;
    width: 15mm;
}

#unit_4{
    left: 131mm;
    top: 144mm;
    width: 10mm;
}

#unit_price_4{
    left: 144mm;
    top: 144mm;
    width: 22mm;
}

#price_4{
    left: 168mm;
    top: 144mm;
    width: 30mm;
}
    #product_5{
    left: 21mm;
    top: 151mm;
    width: 90mm;
}

#qty_5{
    left: 114mm;
    top: 151mm;
    width: 15mm;
}

#unit_5{
    left: 131mm;
    top: 151mm;
    width: 10mm;
}

#unit_price_5{
    left: 144mm;
    top: 151mm;
    width: 22mm;
}

#price_5{
    left: 168mm;
    top: 151mm;
    width: 30mm;
}
    #product_6{
    left: 21mm;
    top: 158mm;
    width: 90mm;
}

#qty_6{
    left: 114mm;
    top: 158mm;
    width: 15mm;
}

#unit_6{
    left: 131mm;
    top: 158mm;
    width: 10mm;
}

#unit_price_6{
    left: 144mm;
    top: 158mm;
    width: 22mm;
}

#price_6{
    left: 168mm;
    top: 158mm;
    width: 30mm;
}
    #product_7{
    left: 21mm;
    top: 165mm;
    width: 90mm;
}

#qty_7{
    left: 114mm;
    top: 165mm;
    width: 15mm;
}

#unit_7{
    left: 131mm;
    top: 165mm;
    width: 10mm;
}

#unit_price_7{
    left: 144mm;
    top: 165mm;
    width: 22mm;
}

#price_7{
    left: 168mm;
    top: 165mm;
    width: 30mm;
}
    #product_8{
    left: 21mm;
    top: 172mm;
    width: 90mm;
}

#qty_8{
    left: 114mm;
    top: 172mm;
    width: 15mm;
}

#unit_8{
    left: 131mm;
    top: 172mm;
    width: 10mm;
}

#unit_price_8{
    left: 144mm;
    top: 172mm;
    width: 22mm;
}

#price_8{
    left: 168mm;
    top: 172mm;
    width: 30mm;
}
    #product_9{
    left: 21mm;
    top: 179mm;
    width: 90mm;
}

#qty_9{
    left: 114mm;
    top: 179mm;
    width: 15mm;
}

#unit_9{
    left: 131mm;
    top: 179mm;
    width: 10mm;
}

#unit_price_9{
    left: 144mm;
    top: 179mm;
    width: 22mm;
}

#price_9{
    left: 168mm;
    top: 179mm;
    width: 30mm;
}
    #product_10{
    left: 21mm;
    top: 186mm;
    width: 90mm;
}

#qty_10{
    left: 114mm;
    top: 186mm;
    width: 15mm;
}

#unit_10{
    left: 131mm;
    top: 186mm;
    width: 10mm;
}

#unit_price_10{
    left: 144mm;
    top: 186mm;
    width: 22mm;
}

#price_10{
    left: 168mm;
    top: 186mm;
    width: 30mm;
}
    #product_11{
    left: 21mm;
    top: 193mm;
    width: 90mm;
}

#qty_11{
    left: 114mm;
    top: 193mm;
    width: 15mm;
}

#unit_11{
    left: 131mm;
    top: 193mm;
    width: 10mm;
}

#unit_price_11{
    left: 144mm;
    top: 193mm;
    width: 22mm;
}

#price_11{
    left: 168mm;
    top: 193mm;
    width: 30mm;
}
    #product_12{
    left: 21mm;
    top: 200mm;
    width: 90mm;
}

#qty_12{
    left: 114mm;
    top: 200mm;
    width: 15mm;
}

#unit_12{
    left: 131mm;
    top: 200mm;
    width: 10mm;
}

#unit_price_12{
    left: 144mm;
    top: 200mm;
    width: 22mm;
}

#price_12{
    left: 168mm;
    top: 200mm;
    width: 30mm;
}
    #product_13{
    left: 21mm;
    top: 207mm;
    width: 90mm;
}

#qty_13{
    left: 114mm;
    top: 207mm;
    width: 15mm;
}

#unit_13{
    left: 131mm;
    top: 207mm;
    width: 10mm;
}

#unit_price_13{
    left: 144mm;
    top: 207mm;
    width: 22mm;
}

#price_13{
    left: 168mm;
    top: 207mm;
    width: 30mm;
}
    #product_14{
    left: 21mm;
    top: 214mm;
    width: 90mm;
}

#qty_14{
    left: 114mm;
    top: 214mm;
    width: 15mm;
}

#unit_14{
    left: 131mm;
    top: 214mm;
    width: 10mm;
}

#unit_price_14{
    left: 144mm;
    top: 214mm;
    width: 22mm;
}

#price_14{
    left: 168mm;
    top: 214mm;
    width: 30mm;
}
    #product_15{
    left: 21mm;
    top: 221mm;
    width: 90mm;
}

#qty_15{
    left: 114mm;
    top: 221mm;
    width: 15mm;
}

#unit_15{
    left: 131mm;
    top: 221mm;
    width: 10mm;
}

#unit_price_15{
    left: 144mm;
    top: 221mm;
    width: 22mm;
}

#price_15{
    left: 168mm;
    top: 221mm;
    width: 30mm;
}
    #product_16{
    left: 21mm;
    top: 228mm;
    width: 90mm;
}

#qty_16{
    left: 114mm;
    top: 228mm;
    width: 15mm;
}

#unit_16{
    left: 131mm;
    top: 228mm;
    width: 10mm;
}

#unit_price_16{
    left: 144mm;
    top: 228mm;
    width: 22mm;
}

#price_16{
    left: 168mm;
    top: 228mm;
    width: 30mm;
}
    #product_17{
    left: 21mm;
    top: 235mm;
    width: 90mm;
}

#qty_17{
    left: 114mm;
    top: 235mm;
    width: 15mm;
}

#unit_17{
    left: 131mm;
    top: 235mm;
    width: 10mm;
}

#unit_price_17{
    left: 144mm;
    top: 235mm;
    width: 22mm;
}

#price_17{
    left: 168mm;
    top: 235mm;
    width: 30mm;
}
    #product_18{
    left: 21mm;
    top: 242mm;
    width: 90mm;
}

#qty_18{
    left: 114mm;
    top: 242mm;
    width: 15mm;
}

#unit_18{
    left: 131mm;
    top: 242mm;
    width: 10mm;
}

#unit_price_18{
    left: 144mm;
    top: 242mm;
    width: 22mm;
}

#price_18{
    left: 168mm;
    top: 242mm;
    width: 30mm;
}